
{% extends "base.html" %}

{% block title %}Login {% endblock %}

{% block body %}

<main class="container">
  <article class="grid" style="max-width: 420px; margin: 4rem auto;">
    
    <div>
      <header>
        <h2 style="margin-bottom: 0.25rem;">Welcome back</h2>

        <p style="color: var(--muted-color);">
          Sign in to your account
        </p>
      </header>

      <form method="POST" action="{{ url_for('login') }}">
        <label>
          Email
          <input
            type="email"
            name="email"
            placeholder="email"
            autocomplete="email"
            required
          />
        </label>

        <label>
          Password
          <input
            type="password"
            name="password"
            placeholder="••••••••"
            autocomplete="current-password"
            required
          />
        </label>

        <button type="submit" class="contrast">
          Log in
        </button>
        
      </form>

      <footer style="margin-top: 1rem; text-align: center;">
        <small>
          Don’t have an account?
          <a href="{{ url_for('register') }}">Register here</a>
        </small>
      </footer>
    </div>

  </article>
</main>


{% endblock %}
